<main>
    <div class="container-fluid  mt0">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper pt-0">

                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Register</h1>
                    <form>

                        <div class="form-group">
                            <label for="email">First Name</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Zain">
                        </div>

                        <div class="form-group">
                            <label for="email">Last Name</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Mansuri">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email@daiict.ac.in">
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Shushhhh...">
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Re-Password</label>
                            <input type="password" name="re-password" id="re-password" class="form-control"
                                placeholder="Same Shushhhh...">
                        </div>
                        <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Register">
                    </form>
                    <p class="login-wrapper-footer-text">Already have an account? <a href="/login"
                            class="text-reset">Login
                            here</a></p>
                </div>
            </div>

        </div>
    </div>
</main>